.info{
    padding: 50px;
    width: 300px;
    background-color: aliceblue;
}

.read_more{
    background-color: #94bbe9;
    border: none;
    color: white;
    border-radius: 5%;
    height: 20px;
}