@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.App{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 150px;
  font-family: 'Roboto', sans-serif;
}
.user_info{
  padding: 20px;
  text-align: center;
  width: 300px;
  background-color:rgb(104, 154, 187);
  border-radius: 5px;
}
.user_img{
  width: 200px;
  height: 280px;
  border-radius: 50%;
  box-shadow: 0 10px 50px rgb(19, 83, 156);
}
